* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1717;
  text-rendering: optimizeLegibility;
  min-width: 1280px;

}



